.about-me {
    display: inline-block;
    width: 100%;
}
.left-about-me {
    display: inline-block;
    float: left;
}

.right-about.me {
    display: inline-block;
    float: left;
    width: 60%;
}

