.padding {
    padding: 100px 0px;
    width: 100%;
}
.padding .contacts {
    margin: 0px 100px;
}
.contacts-head {
    text-align: center;
    margin-bottom: 80px;
}
.contacts-head > h1 {
    display: inline-block;
    font-size: 40px;
}
.all-icons{
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
}

.icons-group{
    display: inline-block;
    width: calc(100% / 3);
    float: left;
    padding: 0 20px;
    text-align: center;
}
.icons-group > h2{
    margin-top: 10px;
    font-size: 18px;
}

.icons-group > p {
    margin-top: 10px;
}

.icons-group .icon {
    display: inline-block;
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
    color: #343434;

    
}
.icon:hover {
    background-color: #343434;
    color: #f7f7f7;
    transition: 0.5s;
}


.input-pad {
    padding: 0 20px;
}
.input-marg {
    margin-bottom: 15px;
}
.form  input,
.form  textarea {
    display: inline-block;
    width: 100%; 
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background: #f4f4f4;
    outline: none;
    
}
.form > input {
    width: calc((100% - 40px) / 2);
    float: left;
}
.form > input:first-of-type {
    margin-right: 40px;
}


.form  textarea {
    max-width: 100%;
    min-height: 200px;
    max-height: 200px ;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #f4f4f4;
    background-color: #343434;
}
.btn:hover {
    color: #343434;
    background-color: #f4f4f4;
    border: 1px solid #343434;
    transition: .5s;
}



