@import './components/reset.css';
@import './components/layout.css';

/* Services CSS */

  
  .item{
    text-align: center;
    padding:20px 20px;
    margin:0 0 10px;
    background-color: #fff;
    width: 100%;
    line-height: 1.6;
  }
   .item:hover>.service-icon{
    background-color: black;
    color:#f4f4f4;
    transition: 0.5s;

    }
  .section-container> .item> p{
    font-size:14px;
    font-family:'Poppins', sans-serif;
    color:#748182;

  }
  .section-container> .item> h4{
      font-size:18px;
      font-weight: 800;
      margin:15px 0;
      font-family:'Montserrat', sans-serif;

  }
  .section-header{
    margin-bottom: 40px;
    }
      
.service-icon{
  background-color: #f4f4f4;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 200px;
  width:70px; 
  height:70px;
  transition: 0.5s;

}
.fa{
  vertical-align: baseline;
}
  

