.works-item{
    padding:0;
    position:relative;
}
.overlay {
    align-content: center;
    vertical-align: baseline;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 97%;
    margin:1.5%;
    opacity: 0;
    transition: 0.5s;
    background-color: #fff;
  }
.overlay:hover {
    opacity: 1;
}