.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-color: #343434;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    margin-bottom: 100px;
    width: 100%;
}

.introduction > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 800px;
}
.introduction > h2 {
    font-size: 30px;
    font-weight: lighter;
}

b {
    font-weight: normal;
}

.cd-headline.clip .cd-words-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;

}
.cd-headline.clip .cd-words-wrapper::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0px;
    background-color: #fff;
    z-index: 2;
  -webkit-transition: width 0.3s -0.1s;
  -moz-transition: width 0.3s -0.1s;
  transition: width 0.3s -0.1s;
}

.cd-headline.clip b.is-visible {
    opacity: 1;
}

.cd-headline.clip b.is-hidden {
    display: none;
}

.fa {
    display: inline-block;
    margin-top: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 1s;
    background-color: #fff2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.socials > .fa:hover {
    background-color: #fff4;
    color: #fff4;
}

