.hero {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    background-size: cover;
    background-position: center;
    color: #fff;
    min-height: 100vh;
    margin-bottom: 100px;
    width: 100%;
}

.introduction > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.fa {
    display: inline-block;
    margin-top: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: all 1s;
    background-color: #fff2;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.socials > .fa:hover {
    background-color: #fff4;
    color: #fff4;
}



@media (max-width: 795px) {
.hero {
    
}
    }
}